    /* .wrapper {
        width: 60% !important;
        border: 1px solid black !important;
        margin: auto !important;
    } */

    .f_label {
        display: none;
    }


    @media screen and (min-width: 768px) {
        .wrapper {
            width: 60% !important;
            /* border: 1px solid black !important; */
            margin: 2rem auto !important;
        }
        .login_form {
            width: 100% !important;
        }
        .form_div {
            box-shadow: -5px 10px rgb(224, 224, 224);
            background-color: white !important;
            border: 1px solid rgb(224, 224, 224);
            border-radius: 15px;
            padding: 2rem 1.5rem !important;
        }
        .f_label {
            display: block;
        }
    }

    @media screen and (min-width: 992px) {
        .wrapper {
            width: 50% !important;
            margin: 3rem auto !important;
        }
        .login_form {
            width: 90% !important;
        }
    }